<div class="main">
    <form [formGroup]="forgotForm">
        <p>Enter your email, we'll send you a link to get back into your account.</p>
      <Label>Email :</Label><br>
      <input type="email" placeholder="Enter your Email" formControlName="email" autocomplete="off"/>
      @if(forgotForm.controls['email'].touched){
    <div class="error">
        @if(forgotForm.controls['email'].errors?.['required']){
            <Span>Email is Required*</Span>
        }
        @if(forgotForm.controls['email'].errors?.['pattern']){
            <span>Enter Valid Email Format</span>
        }
    </div>
   }
   <button (click)="onSubmit()" [disabled]="forgotForm.invalid">Submit</button>
    </form>
</div>
