<div class="container">
  <form id="form" [formGroup]="form">
    <h3>Create a strong password</h3>
    <p>
      Your password must be at least six characters and should include a combination of numbers,
      letters and special characters (!$@％).
    </p>

    <div class="form-fields">
      <div class="form-group">
        <label class="label-class" for="password">New Password</label>
        <input
          class="input-class"
          name="password"
          type="password"
          placeholder="Enter new password"
          formControlName="password"/>
        <span class="error" *ngIf="form.get('password')?.errors?.['required'] && form.get('password')?.touched">
          Password is required
        </span>
        <span class="error" *ngIf="form.get('password')?.errors?.['pattern']">Pattern is not matched</span>
        <span class="error" *ngIf="form.get('password')?.errors?.['minlength']">
          Minimum 6 characters
        </span>
      </div>

      <div class="form-group">
        <label class="label-class" for="confirmPassword">Confirm Password</label>
        <input
          class="input-class"
          type="password"
          placeholder="Enter your Confirm Password"
          formControlName="confirmPassword"/>
        <span class="error" *ngIf="form.get('confirmPassword')?.errors?.['required'] && form.get('confirmPassword')?.touched">
          Password is required
        </span>
        <span class="error" *ngIf="form.errors?.['passwordsMismatch'] && form.get('confirmPassword')?.touched">
          Passwords do not match
        </span>
      </div>
    </div>

    <div class="buttonDiv">
      <button id="loginButton" type="submit" [disabled]="form.invalid">Update Password</button>
    </div>
    <p class="login" (click)="login()" >Back to Login</p>
  </form>
</div>