.container {
  max-width: 500px;
  margin: 40px auto;
  background: white;
  padding: 30px 40px;
  border-radius: 15px;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
}

form {
  display: flex;
  flex-direction: column;
  row-gap: 20px; 
}

h3 {
  color: #0e2240;
  margin: 0;
  text-align: center;
}

p {
  font-size: 14px;
  color: #333;
  margin: 0;
  text-align: center;
  cursor: pointer;
}

.form-fields {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.form-group {
  display: flex;
  flex-direction: column;
  row-gap: 5px;
}

.label-class {
  color: #0e2240;
}

.input-class {
  width: 100%;
  padding: 10px;
  font-size: 15px;
  border: 2px solid rgb(209, 211, 212);
  border-radius: 8px;
  outline: none;
  width: 95%;
}

.buttonDiv {
  display: flex;
  justify-content: center;
}

#loginButton {
  padding: 10px 18px;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  width: 100%;
  background-color: #b82228;
  color: white;
  cursor: pointer;
}

#loginButton:hover {
  background-color: #86171b;
}

.error {
  color: rgb(148, 32, 32);
  font-size: 13px;
}